@charset "utf-8"; /* IMPORT FONT (NanumBarunGothic, NanumSquare) */
@import url('font.css'); /* RESET */

html, body {
    height: 100%;
    -webkit-text-size-adjust: none
}

body, div, span, em, strong, select, section, article, nav, footer, header, address, caption, figure, figcaption, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, textarea, input, button, tr, th, td, table {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ol, ul, li {
    list-style-type: none
}

img, fieldset {
    border: none
}

img {
    vertical-align: top
}

input, button, select, textarea, label {
    vertical-align: middle;
    resize: none;
    outline: none
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

input[type='text']::-ms-clear {
    display: none
}

input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer
}

button {
    border: none;
    background: transparent;
    cursor: pointer
}

i, em, address, optgroup {
    font-style: normal
}

hr {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block
}

.main header .btn_top {
    position: relative;
    text-align: right;
}

.main header .btn_top a:first-child {
    margin-right: 2px;
}

legend, .hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
    color: transparent
}

.btn_submit {
    height: 45px;
    background-color: #4f8ddd;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #142e78;
    overflow: hidden
}

#bg div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    min-width: 1920px;
    margin-left: -960px;
}

#bg div img {
    width: 100%
}

#bg div.bg1 {
    display: block
}

.main {
    font-family: 'Pretendard Variable'
}

.main .section {
    position: relative;
    z-index: 5;
    width: 1310px;
    height: 700px ;
    margin: 0 auto;
    font-weight: 700;
}

.main .section::before {
    content: 'Korea Performing Art Archives Network';
    position: absolute;
    left: 0;
    top: 120px;
    display: block;
    width: 1312px;
    height: 677px;
    background: url(../images/logo_main.png);
    z-index: -1;
    text-indent: -9999px;
}



.main header {
    position: relative;
    padding: 18px 0 84px;
}

.main header .btn_top {
    position: relative;
    text-align: right;
}

.main header .btn_top a:first-child {
    margin-right: 2px;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main header h1 {
    position: relative;
    color: #fff;
    /* font-weight: inherit; */
    font-size: 50px;
    text-align: left;
    letter-spacing: -0.005em;
    font-family: "Black Han Sans", serif;
    font-family: 'yg-jalnan';
    font-weight: 400;
    font-style: normal;
    margin-top: -40px;
}

@font-face {
    font-family: 'HakgyoansimNadeuriTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.main header p {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    margin-top: 5px;
    font-weight: 300;
    font-family: 'HakgyoansimNadeuriTTF-B';
    letter-spacing: 1px;
    font-style: normal;

}

.main header .main-ti {
    position: absolute;
    top: 187px;
    margin-right: 220px;
    right: 0;
    margin-top: 40px;
}

.main header .fullname_eng {
    margin-top: 4px;
    margin-bottom: 24px;
    font-weight: 700;
    letter-spacing: 0.12em
}

.main header .fullname_eng strong {
    color: #fff;
    font-weight: 900
}

.main .section #contents {
    position: absolute;
    right: 0;
    top: 354px;
}

.search_main {
    width: 690px;
    margin: 0 auto
}

.search_main .search_area {
    height: 63px;
    margin-top: 5px;
    background-color: #fff
}

.search_main .search_area .inptxt {
    font-family: 'HakgyoansimNadeuriTTF-B' !important;
    float: left;
    width: 500px;
    height: 63px;
    padding-left: 20px;
    border: none;
    background-color: #fff;
    color: #0d1422;
    font-weight: inherit;
    font-size: 26px;
    line-height: 63px
}

.search_main .search_area .btn_search {
    float: left;
    margin-left: 120px;
    width: 62px;
    height: 63px;
    background: #fff url('../images/spr_icons.png') no-repeat 0 -251px
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* font-family: 'HakgyoansimNadeuriTTF-B' !important;
    font-weight: 300;
    font-style: normal */

}

.card {
    border-radius: .5rem;
    font-family: 'HakgyoansimNadeuriTTF-B' !important;
    font-weight: 300;
    font-style: normal
}

.detail_main {
    width: 690px;
    margin: 0 auto
}



.search_main .search_area .inptxt {
    font-family: 'HakgyoansimNadeuriTTF-B' !important;
    float: left;
    width: 500px;
    height: 63px;
    padding-left: 20px;
    border: none;
    background-color: #fff;
    color: #0d1422;
    font-weight: inherit;
    font-size: 26px;
    line-height: 63px
}

.search_main .search_area .btn_search {
    float: left;
    margin-left: 120px;
    width: 62px;
    height: 63px;
    background: #fff url('../images/spr_icons.png') no-repeat 0 -251px
}

.main2 .section::before {
    content: 'Korea Performing Art Archives Network';
    position: absolute;
    left: 0;
    top: 120px;
    display: block;
    width: 1312px;
    height: 677px;
    z-index: -1;
    text-indent: -9999px;
}

.main2 .section {
    position: relative;
    z-index: 5;
    width: 1310px;
    height: 700px ;
    margin: 0 auto;
    font-weight: 700;
}

.main2 header {
    position: relative;
    padding: 18px 0 84px;
}

.main2 header .btn_top {
    position: relative;
    text-align: right;
}

.main2 header .btn_top a:first-child {
    margin-right: 2px;
}

