@charset "utf-8"; /* IMPORT FONT (NanumBarunGothic, NanumSquare) */
@import url('font.css'); /* RESET */

html, body {
    height: 100%;
    -webkit-text-size-adjust: none
}

body, div, span, em, strong, select, section, article, nav, footer, header, address, caption, figure, figcaption, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, textarea, input, button, tr, th, td, table {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea, table, th, td {
    color: #666;
    font-weight: 400;
    font-size: 15px;
    font-family: 'NanumGothic', '나눔고딕', NanumGothic, '맑은 고딕', 'Malgun Gothic', AppleGothic, '돋움', Dotum, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ol, ul, li {
    list-style-type: none
}

img, fieldset {
    border: none
}

img {
    vertical-align: top
}

input, button, select, textarea, label {
    vertical-align: middle;
    resize: none;
    outline: none
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

input[type='text']::-ms-clear {
    display: none
}

input[type="checkbox"] {
    -webkit-appearance: checkbox
}

input[type="radio"] {
    -webkit-appearance: radio
}

input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer
}

button {
    border: none;
    background: transparent;
    cursor: pointer
}

i, em, address, optgroup {
    font-style: normal
}

hr {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
    display: block
}

legend, .hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
    color: transparent
}

caption {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
    overflow: hidden
}

a {
    color: inherit;
    text-decoration: none
}

/* SKIPNAVI */
#skipnavi a {
    position: absolute;
    z-index: 100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    text-align: center
}

#skipnavi a:focus, #skipnavi a:active {
    width: 100%;
    height: auto;
    padding: 5px;
    background: #4f8ddd;
    color: #fff
}

/* GLOBAL */
.inner_wrap {
    position: relative;
    width: 1280px;
    margin: 0 auto
}

/* footer */
footer {
    background-color: #000
}

.archive_network {
    position: relative;
    width: 1451px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #bfbfbf;
    box-sizing: border-box;
}

.archive_network h2 {
    position: absolute;
    top: -9px;
    left: 27px
}

.archive_network ul {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.archive_network li {
    /* float:left; margin-right:30px;*/
    position: relative;
    width: 16.6%;
    height: 100%;
    margin: 0 auto;
    /* padding:5px; */
    box-sizing: border-box;
}

/* .archive_network li:nth-child(2) {width:100px;} */
.archive_network li a {
    /*float:left; padding:10px 20px;*/
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

.archive_network li a img {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    transform: translate(0, -50%);
}

.main footer {
    background: none
}

.main .archive_network {
    width: 100%;
    padding: 0;
    border: none
}

.main .archive_network ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 32px;
    box-sizing: border-box;
}

.main .archive_network li {
    position: relative;
    width: 16.6%;
    height: 100%;
    margin: 0 10px;
    box-sizing: border-box;
}

.main .archive_network li a {
    /*float:left; padding:10px 20px;*/
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}

.main .archive_network li a img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

/* button */
.btn_submit {
    height: 45px;
    background-color: #4f8ddd;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px
}

.btn_reset {
    height: 45px;
    background-color: #7b7d82;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 45px
}

/*paging*/
.paging {
    margin-top: 50px;
    text-align: center
}

.paging a, .paging strong, .paging .num {
    display: inline-block;
    height: 34px;
    vertical-align: middle
}

.paging a, .paging strong {
    border: 1px solid #c5d7e8
}

.paging > a {
    width: 34px;
    background: #f2f4f6 url('../images/spr_icons.png') no-repeat 0 -378px
}

.paging .btn_page_first {
    background-position: 0 -378px
}

.paging .btn_page_prev {
    background-position: -44px -378px
}

.paging .btn_page_next {
    background-position: -88px -378px
}

.paging .btn_page_end {
    background-position: -132px -378px
}

.paging .num {
    height: 36px
}

.paging .num a, .paging .num strong {
    min-width: 34px;
    background-color: #fff;
    color: #3b3b3b;
    line-height: 34px
}

.paging .num strong, .paging .num a:hover, .paging .num a:focus {
    border-color: #4f8ddd;
    background-color: #4f8ddd;
    color: #fff
}

/* mark */
.mark {
    background: #caf9ff;
    font-weight: 700 !important
}

#contents .mark {
    color: #222
}

/* MAIN */
#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #142e78;
    overflow: hidden
}

#bg div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    min-width: 1920px;
    margin-left: -960px;
}

#bg div img {
    width: 100%
}

#bg div.bg1 {
    display: block
}

.main {
    font-family: 'Pretendard Variable'
}

.main .section {
    position: relative;
    z-index: 5;
    width: 1310px;
    height: 700px !important;
    margin: 0 auto;
    font-weight: 700;
}

.main .section::before {
    content: 'Korea Performing Art Archives Network';
    position: absolute;
    left: 0;
    top: 120px;
    display: block;
    width: 1312px;
    height: 677px;
    background: url('../images/logo_main3.png');
    z-index: -1;
    text-indent: -9999px;
}

.main header {
    position: relative;
    padding: 18px 0 84px;
}

.main header .btn_top {
    position: relative;
    text-align: right;
}

.main header .btn_top a:first-child {
    margin-right: 2px;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main header h1 {
    position: relative;
    color: #fff;
    /* font-weight: inherit; */
    font-size: 50px;
    text-align: left;
    letter-spacing: -0.005em;
    font-family: "Black Han Sans", serif;
    font-family: 'yg-jalnan';
    font-weight: 400;
    font-style: normal;
    margin-top: -40px;
}

.main header .logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 122px;
    width: 135px;
    height: 130px;
    background: url('../images/logo_main3.png') no-repeat;
    vertical-align: middle
}

@font-face {
    font-family: 'HakgyoansimNadeuriTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.main header p {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    margin-top: 5px;
    font-weight: 300;
    /* font-family: "Black Han Sans", serif; */
    font-family: 'HakgyoansimNadeuriTTF-B';
    letter-spacing: 1px;
    /* font-weight: 200; */
    font-style: normal;
    
}

.main header .main-ti {
    position: absolute;
    top: 187px;
    margin-right: 200px;
    right: 0;
}

.main header .fullname_eng {
    margin-top: 4px;
    margin-bottom: 24px;
    font-weight: 700;
    letter-spacing: 0.12em
}

.main header .fullname_eng strong {
    color: #fff;
    font-weight: 900
}

.main .section #contents {
    position: absolute;
    right: 0;
    top: 354px;
}

.search_main {
    width: 690px;
    margin: 0 auto
}

.search_main .search_area {
    height: 63px;
    margin-top: 5px;
    background-color: #fff
}

.search_main .search_area .inptxt {
    font-family: 'HakgyoansimNadeuriTTF-B';
    float: left;
    width: 500px;
    height: 63px;
    padding-left: 20px;
    border: none;
    background-color: #fff;
    color: #0d1422;
    font-weight: inherit;
    font-size: 26px;
    line-height: 63px
}

.search_main .search_area .btn_search {
    float: left;
    margin-left: 100px;
    width: 62px;
    height: 63px;
    background: #fff url('../images/spr_icons.png') no-repeat 0 -251px
}

.search_main .popular_keyword {
    color: #fff;
    font-size: 19px;
    font-family: 'KoPubWorld Dotum';
}

.search_main .popular_keyword dt {
    float: left;
    margin-right: 50px;
    padding-top: 1px;
}

.search_main .popular_keyword dd {
    float: left
}

.search_main .popular_keyword ol {
    width: 450px;
    height: 33px;
    overflow: hidden
}

.search_main .popular_keyword li {
    margin-bottom: 10px
}

.search_main .popular_keyword li strong, .search_main .popular_keyword li a, .search_main .popular_keyword li em {
    display: inline-block;
    vertical-align: middle
}

.search_main .popular_keyword li strong {
    width: 23px;
    height: 23px;
    background-color: #917eb2;
    color: #fff;
    font-weight: inherit;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    border-radius: 3px;
}

.search_main .popular_keyword li a {
    max-width: 330px;
    margin: 0 10px 0 5px ;
    font-size:20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.search_main .popular_keyword li em {
    background-image: url('../images/spr_icons.png');
    background-repeat: no-repeat
}

.search_main .popular_keyword li em.icon_rank_new {
    width: 42px;
    height: 18px;
    background-position: 0 -338px;
    vertical-align: -2px
}

.search_main .popular_keyword li em.icon_rank_same {
    width: 20px;
    height: 4px;
    background-position: -72px -338px;
    vertical-align: 6px
}

.search_main .popular_keyword li em.icon_rank_up {
    width: 42px;
    height: 20px;
    background-position: -122px -338px;
    vertical-align: -3px
}

.search_main .popular_keyword li em.icon_rank_down {
    width: 42px;
    height: 20px;
    background-position: -174px -338px;
    vertical-align: -4px
}

.search_main .popular_keyword:after {
    content: '';
    display: block;
    clear: both
}

.main footer {
    position: absolute;
    bottom: 100px;
    width: 100%;
}


